schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML Schema generated by QTAssistant/XSD Module (http://www.paschidev.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="lifestylesDB">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="section1"/>
				<xs:element ref="section2"/>
				<xs:element ref="section3"/>
				<xs:element ref="section4"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="section1">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Lifestylelist" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ID" type="xs:string"/>
                            <xs:element name="nameLifestyle" type="xs:string"/>
							<xs:element name="lifelistDB" type="xs:string"/>
                            <xs:element name="imageMain" type="xs:string"/>
							<xs:element name="imageThumbnail" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	<xs:element name="section2">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Lifelist" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ID" type="xs:string"/>
                            <xs:element name="nameLifelist" type="xs:string"/>
                            <xs:element name="mealTime" type="xs:decimal"/>
                            <xs:element name="workoutTime" type="xs:decimal"/>    
                            <xs:element name="imageMain" type="xs:string"/>
							<xs:element name="imageThumbnail" type="xs:string"/>
							<xs:element name="followers" type="xs:decimal"/>
							<xs:element name="meals" type="xs:string"/>
							<xs:element name="exercise" type="xs:string"/>
							<xs:element name="description" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	<xs:element name="section3">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="meals" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ID" type="xs:string"/>
                            <xs:element name="nameMeal" type="xs:string"/>
                            <xs:element name="description" type="xs:string"/>
                            <xs:element name="ingredients" type="xs:string"/>    
                            <xs:element name="percentLike" type="xs:decimal"/>
							<xs:element name="imageMain" type="xs:string"/>
							<xs:element name="mealTime" type="xs:string"/>
							<xs:element name="instructions" type="xs:string"/>
							<xs:element name="imageThumbnail" type="xs:string"/>
							<xs:element name="dietaryRestrictions" type="xs:string"/>
							<xs:element name="fat" type="xs:decimal"/>
							<xs:element name="carbs" type="xs:decimal"/>
							<xs:element name="protien" type="xs:decimal"/>
							<xs:element name="mealSchedule" type="xs:string"/>
						</xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	<xs:element name="section4">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="workouts" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ID" type="xs:string"/>
                            <xs:element name="nameWorkout" type="xs:string"/>
                            <xs:element name="description" type="xs:string"/>
                            <xs:element name="type" type="xs:string"/>    
                            <xs:element name="percentLike" type="xs:decimal"/>
							<xs:element name="exerciseTime" type="xs:string"/>
							<xs:element name="instructions" type="xs:string"/>
							<xs:element name="imageMain" type="xs:string"/>
							<xs:element name="imageThumbnail" type="xs:string"/>
						</xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>